body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fec89a;
}

h1 {
  margin: 15px;
  text-align: center;
  font-family: "Potta One", cursive;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

input {
  margin-top: 10px;
}

.btn {
  margin-bottom: 10px;
  background: #ffddd2;
  color: #333;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.instructions,
.box,
.box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  margin-top: 50px;
}

.btn {
  margin-top: 20px;
}

@keyframes pulse {
  20% {
    transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
  }

  40% {
    transform: rotate3d(10, 10, -10, 50deg) scale(1);
  }

  60% {
    transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
  }

  80% {
    transform: rotate3d(10, 10, 10, 50deg) scale(1);
  }
}
